
.topnav{
    float: right;
}
.mar {
    margin-top: -10px;
    width: 100%;
    align-items: center;
}
.pad{
    padding: 10px 30px;
}
.bc{
    background-color: rgb(36, 65, 110);

}
.img{
    width: 200px;
}
.navbar-brand {
    font-size: 2rem;
    color:rgb(208, 208, 208);
}
.navbar-brand:hover {   
    color: white;
    transition: 0.3s ease;
}
.nav-item:hover{
    background-color: rgba(255, 221, 0, 0.432);
    transition: 0.3s ease;
    border-radius: 10px;
}
.letter{
    color: rgba(244, 238, 238, 0.759);
    font-size: 20px;
}
body {
    font-family: 'Trebuchet MS', sans-serif;
}
.his{
    text-align: center;
    margin-top: 70px;
}
.img1{
    height: 400px !important;
}
.img2{
    height: 800px !important;
}
.back{
    background-color: rgb(108, 118, 123) !important;
    color:white !important;
}
